.pricing{
    width: 100%;
    padding: 6rem 1rem;
    background: black;
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.nra{
    font-size: 4rem;
    font-weight: 500;
    padding: 1rem 0;
}

@media screen and (max-width: 740px){
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .nra{
        font-size: 3rem;
        font-weight: 400;
        padding: 1rem 0;
    }
}

.card{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 1rem;
}

.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}

.card p{
    padding: 10px 0;
}

.card:hover{
    background-color: rgb(29, 26, 26);
}

.bar{
    border-bottom: 1px solid white;
    width: 20px;
    margin: 1.5rem auto;
    display: block;
}


.card .btn2{
    display: block;
    padding: 12px 32px;
    font-size: 1rem;
    background: white;
    color: black;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 700;
    width: 70%;
    margin: 2rem 4rem;
}

.btn2:hover{
    background: black;
    color: #fff;
    transition: 0.3s;
  }